body {
    /* padding-top: 88px; */
}

#searcharea {
background-image: url('../img/ptrain.jpg');
background-size: cover;
padding-top: 25%;
padding-bottom: 15%;
}

#home-heading {
    position: relative;
    min-height: 200px;
    background: url('../img/clapshups.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}